body {
  margin: 0;
  height: 100vh;
  background: #000;
  cursor: none; /* hide default cursor */
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: hotpink;
  box-shadow: 0 0 15px hotpink, 0 0 40px hotpink;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.05s ease;
}
